@charset "UTF-8";

td.board01 {
	
	font-size: 20px;
	color: #FFFFFF;
	font-family: malgun;
	font-weight: bold;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #525252;
	text-align: center;
	border-width: 1px;
	
}

td.board02 {
	
	font-size: 20px;
	color: #2d2d2d;
	font-family: malgun;
	font-weight: normal;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #c0c0c0;
	text-align: center;
	border-width: 1px;
	
}

td.board03 {
	
	font-size: 20px;
	color: #2d2d2d;
	font-family: malgun;
	font-weight: normal;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #c0c0c0;
	text-align: left;
	border-width: 1px;
	
}