@charset "UTF-8";

span.text01 {
	
	font-size: 20px;
	color: #FFFFFF;
	font-family: Arial;
	font-weight: bold;
	
}

input.type01 {
	
	border: 1px solid #c0c0c0;
	background-color: #FFFFFF;
	width: 220px;
	padding: 5px;
	font-family: Arial;
	font-size: 20px;
	
}

input.button01 {
	
	border: 3px solid #FFFFFF;
	background-color: #a0a0a0;
	width: 180px;
	height: 40px;
	padding: 5px;
	font-family: malgun;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	
	
}


#textarea01 {
	
		border: 1px solid #c0c0c0;
	background-color: #FFFFFF;
	width: 220px;
	padding: 5px;
	font-family: Arial;
	font-size: 20px;
	
}















